* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: lato;
    background-color: #242424;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 10px 10px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: linear-gradient(#004aad, #cb6ce6);
    color: #fff
}

.header .nav-item {
    font-weight: bold
}

.header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: #fff
}

@media (prefers-reduced-motion: reduce) {
    .social-list a {
        transition: none
    }
}

.social-list a:hover {
    color: #cb6ce6;
    background-color: rgba(255, 255, 255, 0.8)
}

.main-wrapper {
    margin-left: 280px;
}

.footer {
    color: rgba(255, 255, 255, 0.7);
    background-color: #171515;
}


.head {
    color: #cb6ce6;
}


@media (max-width: 991.98px) {
    .header {
        display: none;
    }

    .header .navbar {
        padding: 1rem
    }

    .main-wrapper {
        margin-left: 0
    }
}



.design2 {
    margin: 0px;
    transition: transform 0.3s;
    border-radius: 8px;
    
    color: #f1f1f1;
}

.design2:hover {
    transform: scale(1.02);
}


::selection {
    background-color: #cb6ce6;
    /* Different background for paragraphs */
    color: white;
    /* White text for selected paragraphs */
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cb6ce6;
    /* Color of the scrollbar handle */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cb6ce6;
    /* Darker color when hovered */
}



.custom-gradient-primary {
    background: linear-gradient(45deg, #004aad, #004aad);
    /* Primary gradient */
    border: none;
    color: white;
}

.custom-gradient-secondary {
    background: linear-gradient(45deg, #cb6ce6, #cb6ce6);
    /* Secondary gradient */
    border: none;
    color: white;
}

/* Optional: Add hover effect */
.custom-gradient-primary:hover {
    background: linear-gradient(45deg, #cb6ce6, #cb6ce6);
}

.custom-gradient-secondary:hover {
    background: linear-gradient(45deg, #004aad, #004aad);
}

/* Ensure buttons retain Bootstrap styling */
.btn {
    padding: 0.75rem 1.25rem;
    border-radius: 0.3rem;
    margin-bottom: 15px;
}



.card {
    background-color: #ffffff;
    /* Card background color */
    border-radius: 8px;
    /* Rounded corners */
    border-width: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    overflow: hidden;
    /* Ensures rounded corners */
    transition: transform 0.3s;
    /* Animation effect on hover */
}

.card:hover {
    transform: scale(1.02);
    /* Scale effect on hover */
    background: linear-gradient(45deg, #004aad, #cb6ce6);
    color: #ffffff;
}

.card-img {
    width: 100%;
    /* Full width */
    height: auto;
    /* Maintain aspect ratio */
}

.card-content {
    padding: 16px;
    /* Inner padding */
}

.card-title {
    font-size: 1.5em;
    /* Title size */
    margin: 0;
    /* Remove default margin */
}

.card-text {
    color: #555;
    /* Text color */
    margin: 8px 0;
    /* Spacing between text */
}

.card-button {
    background: linear-gradient(45deg, #004aad, #004aad);
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    margin-right: 4px;
    /* Remove border */
    border-radius: 4px;
    /* Rounded corners for button */
    padding: 5px 10px;
    /* Padding for button */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s;
    /* Smooth background transition */
}

.card-button:hover {
    background: linear-gradient(45deg, #cb6ce6, #cb6ce6);
    /* Darker shade on hover */
}

.card-body-bg {
    background-color: lavender;
}

a {
    color: #cb6ce6;
    text-decoration: underline;
}

.card-body-bg1 {
    background-color: lavender;
}

.title-bg {
    background: linear-gradient(45deg, #004aad, #cb6ce6);
}

p {
    line-height: 2em;
}

.text {
    color: #c4c4c4;
}

/* Back to top button styling */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Hidden initially */
    background-color: #cb6ce6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 9px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
  }
  
  .back-to-top:hover {
    background-color: #cb6ce6;
  }

.nav-bg {
    background-color: #cb6ce6;
    color: rgb(255, 255, 255);
}
.nav-bg1 {
    background-color: #cb6ce6;
    color: rgb(255, 255, 255);
    display: block;
}
.nav-link.btn-warning {
    background-color: #004aad !important; /* Force the background to be warning color */
}
.nav-link.btn-info {
    background-color: #2d2e2e !important; /* Force the background to be warning color */
}
.small-pic {
    display: none;
}
.bio {
    display: none;
}
.banner-pic {
    border-radius: 5px;
}
/* On large screens (above 992px), hide the navigation */
@media (min-width: 992px) {
    .nav-bg1 {
      display: none;
    }
}
@media (max-width: 992px) {
    .small-pic {
        display: block;
        width: 150px;
        height: 150px;
    }
    .banner-pic {
        display: none;
    }
    .bio {
        display: block;
    }
}